{% extends 'category/index.html.twig' %}

{% block title %}Usuń kategorię - Mój Blog{% endblock %}

{% block content %}
<div class="card mb-5">
    <div class="card-header">
        <h2>Usuń kategorię</h2>
    </div>
    <div class="card-body">
        <p style="font-size: 2.25rem; font-weight: bold;">
            Czy na pewno chcesz usunąć kategorię <strong>{{ category.name }}</strong>?
        </p>
        {{ form_start(form) }}
        {{ form_widget(form) }}
            <button type="submit" class="btn btn-danger">Potwierdź</button>
            <a href="{{ path('category_index') }}" class="btn btn-secondary">Anuluj</a>
        {{ form_end(form) }}
    </div>
</div>
{% block table %}
    {{ parent() }}
{% endblock %}
{% endblock %}