{% extends 'base.html.twig' %}

{% block title %}{{ 'error.403.title'|trans}}{% endblock %}

{% block body %}
    <div class="alert alert-danger mt-5 text-center">
        <h1>{{ 'error.403.title'|trans}}</h1>
        <p>{{ 'error.403.message'|trans}}</p>
        <a href="{{ path('post_index') }}" class="btn btn-primary mt-3">{{ 'error.403.homepage_link'|trans}}</a>
    </div>
{% endblock %}