{% extends 'base.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block body %}
    <div class="container" style="margin-top: 6rem;">
        {# Wyświetlanie posta #}
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card">
                    <div class="card-header">
                        <h1>{{ post.title }}</h1>
                    </div>
                    <div class="card-body">
                        <p class="card-text"><small class="text-muted">Opublikowano: {{ post.createdAt|date('Y-m-d H:i') }} przez {{ post.author.email ?? 'Anonim' }}</small></p>
                        <hr>
                        <div class="post-content">
                            {{ post.content|raw }}
                        </div>
                    </div>
                    <div class="card-footer text-muted d-flex justify-content-end">
                        <a href="{{ path('post_index') }}" class="btn btn-outline-secondary btn-sm me-2">Powrót do listy</a>
                      
                        <a href="{{ path('post_edit', { 'id': post.id, 'returnTo': path('post_show', {'id': post.id}) }) }}" class="btn btn-outline-primary btn-sm me-2">Edytuj</a>
                        <a href="{{ path('post_delete', {'id': post.id, 'returnTo': path('post_show', {'id': post.id})}) }}" class="btn btn-outline-danger btn-sm">Usuń</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}